body {
	margin: 0;
}

#element {
	margin: 40px auto 20px auto;
	height: 200px;
	width: 400px;
	background-color: #e9e9e9;
	font-size: 20px;
	padding: 40px 0 0 0;
	text-align: center;
	box-sizing: border-box;
}

#go-button {
	width: 200px;
	display: block;
	margin: 50px auto 0 auto;
}

#element:-webkit-full-screen {
	width: 100%;
	height: 100%;
	background-color: gray;
	margin: 0;
}

#element:-moz-full-screen {
	background-color: pink;
	margin: 0;
}

#element:-ms-fullscreen {
	background-color: pink;
	margin: 0;
}

#element:fullscreen { 
	background-color: pink;
	margin: 0;
}